<body>
    <div class="grid-container">
        <mat-tab-group id="videos" mat-align-tabs="center" dynamicHeight headerPosition="above"
            animationDuration="1000ms" (wheel)="swapTabs($event)" (keydown)="swapTabs2($event)" #tabGroup>
            <mat-tab label="Fonctional requisites">
                <div class="videos-spacing" (mouseover)="onLabels=false" (mouseout)="onLabels=true">
                    <iframe src="https://www.youtube.com/embed/fHqtb_SR5QY" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/FdHPGchwLDI" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/3h4uXG_VGUo" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/BSdcAPWzCrk" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/dBo1SCKHx9g" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/RK2eq2pJnoM" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/TCOgBjg_PGg" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/t8qHhQ3k8Ws" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/lNybamFNa-w" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/j64fpapw3CU" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/NMg_Ps0iGxs" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/yUPg8uQIFc8" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/M9zS_mYMUH4" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/lXMIlwIa9tw" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </mat-tab>
            <mat-tab label="Conceptual requisites">
                <div class="videos-spacing" (mouseover)="onLabels=false" (mouseout)="onLabels=true">
                    <iframe src="https://www.youtube.com/embed/TaaZY_cvs14" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                    <iframe src="https://www.youtube.com/embed/lXMIlwIa9tw" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</body>
